@mixin grids {
    display: grid;
    grid-template-columns: 1fr;
}
@mixin gridFourthSections {
    @include grids; 
    grid-template-rows: 100vh repeat(3, auto);

}
@mixin gridThreeSections {
    @include grids;
    grid-template-rows: 100vh repeat(2, auto);
}


.grid {
    @include gridFourthSections;
    grid-template-areas: "hero" "welcome" "best-routines" "single-payment";
}

.about-grid {
    @include gridFourthSections;
    grid-template-areas:
        "banner"
        "quick-info"
        "about"
        "goals";
}

.faqs-grid {
    @include gridThreeSections;
    grid-template-areas: "banner" "faqs" "guarantee";
}

.testimonials-grid {
    @include gridThreeSections;
    grid-template-areas: "banner" "quote" "reviews";
}

.buy-grid {
    @include gridThreeSections;
    grid-template-areas: "banner" "summary" "buy-forms";
}


@media screen and (min-width:$bootstrap-xl ) {

    .about-grid {
        grid-template-rows: 55vh repeat(3, auto);

    } 

    .faqs-grid, .testimonials-grid, .buy-grid {
        grid-template-rows: 55vh repeat(2, auto);
    }
    
}